{% extends 'base.html' %}
{% block title %}Check your email{% endblock %}
{% load i18n %}
{% load account socialaccount %}
{% get_providers as socialaccount_providers %}
{% load static %}

{% block content %}

{% block css %}
<link rel="stylesheet" href="{%static '/css/email_confirm.css' %}">
{% endblock %}

{% if user.is_authenticated %}
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
      <div class="max-w-md">
          <h1 class="text-5xl font-bold">Hold up!</h1>
          <p class="py-6">You are already logged in...</p>
          <button class="btn btn-primary">Home</button>
      </div>
  </div>
</div>
{% else %}
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
      <div class="max-w-md">
          <h1 class="text-5xl font-bold">Reset link sent!</h1>
          <p class="py-6">An email has been sent to your mailbox. If you cannot find it, be sure to check the <b>spam</b> folder. Click on the password reset link to reset your password!</p>
          <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
      </div>
  </div>
</div>
{% endif %}

{% endblock %}