{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}
{% load i18n %}
{% load account socialaccount %}
{% get_providers as socialaccount_providers %}
{% load static %}

{% block content %}

{% block css %}
<link rel="stylesheet" href="{%static '/css/login.css' %}">
{% endblock %}

{% if token_fail %}
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
      <div class="max-w-md">
          <h1 class="text-5xl font-bold">Oops!</h1>
          <p class="py-6">The password reset link you clicked was either invalid or used!</p>
          <a href="{{ login_url }}" class="btn btn-primary">Login</a>
      </div>
  </div>
</div>
{% else %}
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left">
          <h1 class="text-5xl font-bold">Change Password</h1>
          <p class="py-6">Get your password changed. And remember it next time!</p>
      </div>
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
          <form class="card-body" action="{{ action_url }}" method="post">
            {% csrf_token %}
            <div class="form-control">
              <label class="label">
                  <span class="label-text">New Password</span>
              </label>
              <input name="password1" autocomplete="new-password" id="id_password1" type="password" class="input input-bordered" />
            </div>
            <div class="form-control">
                  <label class="label">
                      <span class="label-text">New Password (again)</span>
                  </label>
                  <input name="password2" autocomplete="new-password" id="id_password2" type="password" class="input input-bordered" />
            </div>
              <div>
                  <button type="submit" name="action" class="mt-2 btn btn-accent w-full"><i class="fa-solid fa-lock"></i> Change Password</button>
              </div>
            </form>
      </div>
  </div>
</div>
{% endif %}

{% endblock %}