{% extends 'base.html' %}
{% block title %}Signup{% endblock %}
{% load i18n %}
{% load account socialaccount %}
{% get_providers as socialaccount_providers %}
{% load static %}

{% block content %}

{% block css %}
<link rel="stylesheet" href="{%static '/css/signup.css' %}">
{% endblock %}


<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left">
          <h1 class="text-5xl font-bold">Join us now!</h1>
          <p class="py-6">You make great videos! Don't let people scroll past them.</p>
      </div>
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
          <form class="card-body" action="" method="post">
              {% csrf_token %}
              {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}

              <div class="form-control">
                  <label class="label">
                      <span class="label-text">Email</span>
                  </label>
                  <input name="email" autocomplete="email" id="id_email" type="email" placeholder="email" class="input input-bordered" />
              </div>
              <div class="form-control">
                  <label class="label">
                      <span class="label-text">Password</span>
                  </label>
                  <input name="password1" autocomplete="new-password" id="id_password1" type="password" placeholder="password" class="input input-bordered" />
              </div>
              <div class="form-control">
                  <label class="label">
                      <span class="label-text">Password (again)</span>
                  </label>
                  <input name="password2" autocomplete="new-password" id="id_password2" type="password" placeholder="password" class="input input-bordered" />
              </div>
              <div>
                  <button type="submit" class="btn btn-primary w-full mt-2"><i class="fa-solid fa-user-plus"></i> Signup</button>
              </div>
              <div>
                  <a href="{% provider_login_url 'google' %}" class="btn btn-accent w-full"><i class="fa-brands fa-google"></i> Signup with Google</a>
              </div>
            </form>
      </div>
  </div>
</div>

{% endblock %}